

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  background-color: #303030;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quiz-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.question-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: white;
}

.question-text {
    color: white;
    padding: 20px;
}

.question-number {
  font-weight: bold;
  font-size: 18px;
  color: #00bfff;
}

.countdown {
  font-size: 24px;
  font-weight: bold;
  color: #00bfff;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.box {
  background-color:white;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: #303030;
}

.box:hover {
  background-color:#d9d9d9;
}

.selected {
  background-color: #5cec5c !important;
  color: #ffffff;
}

.correct {
  background-color: #5cec5c !important;
  color: #ffffff;
}

.incorrect {
  background-color: #ff0000 !important;
  color: #ffffff;
}

#summaryModal {
  display: none;
  position: absolute;
  left: 27.45vw;
  top: 15vh;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-header .modal-title {
    flex: 5;
}

.modal-header .close {
    height: 35px;
}

.modal-dialog {
  max-width: 600px;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #4A505F ;
}

.modal-title {
  text-align: center;
  color: #00bfff;
  font-size: 30px;
  font-weight: bold;
}



.modal-body {
  padding: 20px;
  color:white
}

.modal-footer {
  justify-content: center;
}

.modal-footer .btn {
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: #ffffff;
  background-color: #323643;
}

.modal-footer .btn-primary:hover {
  background-color:#2980b9;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}


.question-Text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  padding: 0 10px;
  text-align: justify;
}

.button-container button {
  margin-right: 10px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #00bfff;
}

.button-container button:hover {
  background-color: #5cec5c;
  cursor: pointer;
}

.good-performance {
  color: #5cec5c;
}

.ok-performance {
  color: #ffc700;
}

.bad-performance {
  color: #ff0000;
}